@use "sass:list";

@use "mixins/gap" as *;

@use "theme/catppuccin" as *;

$_rainbow: (
    $blue,
    $sapphire,
    $teal,
    $green,
    $yellow,
    $peach,
    $red,
    $pink,
    $mauve,
    $lavender
);

window.bar {
    background-color: #000;

    > * {
        @include gap(16px);

        padding: 8px 16px;
    }

    @for $i from 1 through list.length($_rainbow) {
        .workspace:nth-child(#{$i}) {
            --primary: #{list.nth($_rainbow, $i)};
        }
    }
}
