@use "mixins/elevation" as *;

@use "theme/color" as *;

window.run {
    .run-prompt {
        @include elevation(5);

        min-width: 480px;
        min-height: 720px;
        background-color: $surface;
        border-radius: 24px;

        entry {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }

        separator {
            margin: 0;
        }
    }
}
