@use "theme/catppuccin" as cp;
@use "mixins/typography" as *;

.calendar-window {
    calendar {
        @include typography(label-medium);

        // Calendar header (month and year)
        header {
            @include typography(title-large);
            color: cp.$blue;
        }

        grid {
            label {
                padding: 0;
            }

            // Weekday names
            .day-name {
                color: cp.$teal;
            }

            // Days from other months, no bg
            .other-month {
                color: cp.$overlay1;
            }

            // Marked days
            :selected {
                @include typography(label-medium);
            }

            // Current day
            .today {
                color: cp.$green;
            }
        }
    }
}
