@use "mixins/typography" as *;

.media-window {
    &.info-window {
        min-height: 0;
    }

    .title {
        @include typography(title-large);
    }

    .artist {
        @include typography(body-large);
    }

    .cover {
        border-radius: 16px;
        background-size: cover;
        min-width: 344px;
        min-height: 344px;
    }
}
