@mixin state-layer {
    --state-layer-opacity: 0%;

    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: radial-gradient(
        circle,
        color-mix(
                in oklab,
                currentColor var(--state-layer-opacity),
                transparent
            )
            100%,
        color-mix(
                in oklab,
                currentColor var(--state-layer-opacity),
                transparent
            )
            100%
    );

    &:hover {
        --state-layer-opacity: 8%;
    }

    &:focus {
        --state-layer-opacity: 10%;
    }

    &:hover:focus {
        --state-layer-opacity: 18%;
    }

    &:active {
        animation: forwards 0.3s state-layer-ripple;
    }
}

@keyframes state-layer-ripple {
    from {
        background-image: radial-gradient(
            circle,
            color-mix(
                    in oklab,
                    currentColor calc(var(--state-layer-opacity) + 10%),
                    transparent
                )
                0%,
            color-mix(
                    in oklab,
                    currentColor var(--state-layer-opacity),
                    transparent
                )
                0%
        );
    }
    to {
        background-image: radial-gradient(
            circle,
            color-mix(
                    in oklab,
                    currentColor calc(var(--state-layer-opacity) + 10%),
                    transparent
                )
                100%,
            color-mix(
                    in oklab,
                    currentColor var(--state-layer-opacity),
                    transparent
                )
                100%
        );
    }
}
