@use "sass:map";
@use "sass:math";

@use "theme/typography" as *;

@function _ptToRem($size) {
    @return $size * 0.0625rem;
}

@function _letterSpacing($tracking, $size) {
    @return math.div($tracking, $size) * 1rem;
}

$_typography-scale: (
    display-large: $display-large,
    display-medium: $display-medium,
    display-small: $display-small,

    headline-large: $headline-large,
    headline-medium: $headline-medium,
    headline-small: $headline-small,

    title-large: $title-large,
    title-medium: $title-medium,
    title-small: $title-small,

    body-large: $body-large,
    body-medium: $body-medium,
    body-small: $body-small,

    label-large: $label-large,
    label-medium: $label-medium,
    label-small: $label-small,
);

@mixin typography($type) {
    $style: map.get($_typography-scale, $type);

    $size: map.get($style, size);

    font-weight: map.get($style, weight);
    font-size: _ptToRem($size);
    letter-spacing: _letterSpacing(map.get($style, letter-spacing), $size);
    line-height: _ptToRem(map.get($style, line-height));
}
