@use "sass:color";

@use "mixins/elevation" as *;
@use "mixins/state_layer" as *;
@use "mixins/typography" as *;

@use "theme/color" as *;
@use "theme/shape" as *;

button {
    @include state-layer;

    transition-property:
        background-color, background-image, border-color, border-radius, color,
        box-shadow;
    transition-duration: 0.3s;

    &.elevated {
        @include elevation(1);

        background-color: $surface-container-low;
        color: $primary;

        &.toggle:checked {
            background-color: $primary;
            color: $on-primary;
        }
    }

    &.filled {
        background-color: $primary;
        color: $on-primary;

        &.toggle:not(:checked) {
            background-color: $surface-container;
            color: $on-surface-variant;
        }
    }

    &.tonal {
        background-color: $primary-container;
        color: $on-primary-container;

        &.toggle:checked {
            background-color: $primary;
            color: $on-primary;
        }
    }

    &.outlined {
        border-style: solid;
        border-color: $outline-variant;
        color: $on-surface-variant;

        &.toggle:checked {
            background-color: $inverse-surface;
            color: $inverse-on-surface;
            border-width: 0;
        }
    }

    // Text
    color: $primary;

    &.extra-small {
        @include typography(label-large);

        border-radius: 16px;
        border-width: 1px;
        min-height: 32px;
        padding: 0 12px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: $radius-medium;
        }

        &:active:active:active:active:active {
            border-radius: $radius-small;
        }
    }

    // Small
    @include typography(label-large);

    border-radius: 20px;
    border-width: 1px;
    min-height: 40px;
    padding: 0 16px;

    &.square:not(:checked),
    &:not(.square).toggle:checked {
        border-radius: $radius-medium;
    }

    &:active:active:active:active:active {
        border-radius: $radius-small;
    }

    &.medium {
        @include typography(title-medium);

        border-radius: 28px;
        border-width: 1px;
        min-height: 56px;
        padding: 0 24px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: $radius-large;
        }

        &:active:active:active:active:active {
            border-radius: $radius-medium;
        }
    }

    &.large {
        @include typography(headline-small);

        border-radius: 48px;
        border-width: 2px;
        min-height: 96px;
        padding: 0 48px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: $radius-extra-large;
        }

        &:active:active:active:active:active {
            border-radius: $radius-large;
        }
    }

    &.extra-large {
        @include typography(headline-large);

        border-radius: 68px;
        border-width: 3px;
        min-height: 136px;
        padding: 0 64px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: $radius-extra-large;
        }

        &:active:active:active:active:active {
            border-radius: $radius-large;
        }
    }

    &.icon {
        line-height: 1;

        &.filled {
            color: $on-primary;

            &.toggle:checked {
                color: $on-primary;
            }
        }

        &.tonal {
            color: $on-primary-container;

            &.toggle:checked {
                color: $on-primary;
            }
        }

        &.outlined.toggle:checked {
            color: $inverse-on-surface;
        }

        // Text
        color: $on-surface-variant;

        &.toggle:checked {
            color: $primary;
        }

        &.extra-small {
            &.narrow {
                padding: 0 4px;
            }

            font-size: 20px;
            padding: 0 6px;

            &.wide {
                padding: 0 10px;
            }
        }

        // Small
        &.narrow {
            padding: 0 4px;
        }

        font-size: 24px;
        padding: 0 8px;

        &.wide {
            padding: 0 14px;
        }

        &.medium {
            &.narrow {
                padding: 0 12px;
            }

            font-size: 24px;
            padding: 0 16px;

            &.wide {
                padding: 0 24px;
            }
        }

        &.large {
            &.narrow {
                padding: 0 16px;
            }

            font-size: 32px;
            padding: 0 32px;

            &.wide {
                padding: 0 48px;
            }
        }

        &.extra-large {
            &.narrow {
                padding: 0 32px;
            }

            font-size: 40px;
            padding: 0 48px;

            &.wide {
                padding: 0 72px;
            }
        }
    }
}
