@use "mixins/gap" as *;
@use "mixins/state_layer" as *;
@use "mixins/typography" as *;

@use "theme/color" as *;

box.list-item {
    @include gap(16px);
    @include state-layer;

    min-height: 40px;
    padding: 8px 16px;

    &.two-line {
        min-height: 56px;
    }

    label.headline {
        @include typography(body-large);
        color: $on-surface;
    }

    label.supporting-text {
        @include typography(body-medium);
        color: $on-surface-variant;
    }

    image {
        -gtk-icon-size: 24px;

        min-height: 24px;
        min-width: 24px;
    }
}
