@use "sass:color";

@use "theme/color" as *;

// TODO: Better way to handle inactive track
// TODO: Indicators
scale {
    padding: 0 2px;

    // trough {
    // }

    highlight {
        background-color: $primary;
        border-radius: 2px;
        transform: translateX(-8px);

        outline-color: $primary-container;
        outline-style: solid;
        outline-width: 999999px;
        outline-offset: 16px;
    }

    slider {
        background-color: $primary;
        border-radius: 2px;
        min-width: 4px;
    }

    // extra-small
    margin: 14px 0;

    trough {
        min-height: 16px;
        border-radius: 8px;
    }

    slider {
        min-height: 44px;
        margin: -14px -2px;
    }

    &.small {
        margin: 10px 0;

        trough {
            min-height: 24px;
            border-radius: 8px;
        }

        slider {
            min-height: 44px;
            margin: -10px -2px;
        }
    }

    &.medium {
        margin: 6px 0;

        trough {
            min-height: 40px;
            border-radius: 12px;
        }

        slider {
            min-height: 52px;
            margin: -6px -2px;
        }
    }

    &.large {
        margin: 6px 0;

        trough {
            min-height: 56px;
            border-radius: 16px;
        }

        slider {
            min-height: 68px;
            margin: -6px -2px;
        }
    }

    &.extra-large {
        margin: 6px 0;

        trough {
            min-height: 96px;
            border-radius: 28px;
        }

        slider {
            min-height: 108px;
            margin: -6px -2px;
        }
    }
}
