@use "sass:color";

@use "mixins/elevation" as *;
@use "mixins/state_layer" as *;
@use "mixins/typography" as *;

@use "theme/color" as *;

button {
    @include state-layer;

    transition-property:
        background-color, background-image, border-color, border-radius, color,
        box-shadow;
    transition-duration: 0.3s;

    &.elevated {
        @include elevation(1);

        background-color: $surface-container-low;
        color: $primary;

        &.toggle:checked {
            background-color: $primary;
            color: $on-primary;
        }
    }

    &.filled {
        background-color: $primary;
        color: $on-primary;

        &.toggle:not(:checked) {
            background-color: $surface-container;
            color: $on-surface-variant;
        }
    }

    &.tonal {
        background-color: $primary-container;
        color: $on-primary-container;

        &.toggle:checked {
            background-color: $primary;
            color: $on-primary;
        }
    }

    &.outlined {
        border-style: solid;
        border-color: $outline-variant;
        color: $on-surface-variant;

        &.toggle:checked {
            background-color: $inverse-surface;
            color: $inverse-on-surface;
            border-width: 0;
        }
    }

    // Text
    color: $primary;

    &.extra-small {
        @include typography(label-large);

        border-radius: 16px;
        border-width: 1px;
        min-height: 32px;
        padding: 0 12px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: 12px;
        }

        &:active:active:active:active:active {
            border-radius: 8px;
        }
    }

    // Small
    @include typography(label-large);

    border-radius: 20px;
    border-width: 1px;
    min-height: 40px;
    padding: 0 16px;

    &.square:not(:checked),
    &:not(.square).toggle:checked {
        border-radius: 12px;
    }

    &:active:active:active:active:active {
        border-radius: 8px;
    }

    &.medium {
        @include typography(title-medium);

        border-radius: 28px;
        border-width: 1px;
        min-height: 56px;
        padding: 0 24px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: 16px;
        }

        &:active:active:active:active:active {
            border-radius: 12px;
        }
    }

    &.large {
        @include typography(headline-small);

        border-radius: 48px;
        border-width: 2px;
        min-height: 96px;
        padding: 0 48px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: 28px;
        }

        &:active:active:active:active:active {
            border-radius: 16px;
        }
    }

    &.extra-large {
        @include typography(headline-large);

        border-radius: 68px;
        border-width: 3px;
        min-height: 136px;
        padding: 0 64px;

        &.square:not(:checked),
        &:not(.square).toggle:checked {
            border-radius: 28px;
        }

        &:active:active:active:active:active {
            border-radius: 16px;
        }
    }

    &.icon {
        min-width: 0;
        min-height: 0;
        font-size: 24px;
        font-weight: unset;
        padding: 4px;
        border-radius: 10000px;

        &.sm {
            font-size: 18px;
            padding: 3px;
        }

        &.lg {
            font-size: 36px;
            padding: 6px;
        }

        &.xl {
            font-size: 48px;
            padding: 8px;
        }
    }
}
