@use "sass:color";

@use "theme/catppuccin" as cp;
@use "theme/color" as c;
@use "mixins/typography" as *;

entry {
    @include typography(label-large);

    min-width: 48px;
    min-height: 40px;
    padding: 0 12px;
    border-radius: 20px;
    color: cp.$base;
    caret-color: cp.$base;
    background-color: var(--accent-color);
}
