$radius-extra-small: 4px;
$radius-small: 8px;
$radius-medium: 12px;
$radius-large: 16px;
$radius-large-increased: 20px;
$radius-extra-large: 28px;
$radius-extra-large-increased: 32px;
$radius-extra-extra-large: 48px;
